* {
  margin: 0;
  padding: 0;
}

.containerWrapper {
  padding: 0 80px;
}

.motto {
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  color: #6883bc;
}

p,
h1,
h2,
h3,
label,
button,
a {
  font-family: "Courier New", Courier, monospace;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6883bc;
  color: white;
  width: 100%;
  overflow: visible;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li {
  background-color: #6883bc;
}

.navbar-links li:hover {
  background-color: #79a7d3;
}

/*Navbar burger button*/
.toggle-button {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 20px;
}

.toggle-button .bar {
  height: 10px;
  width: -10px;
  background-color: white;
  border-radius: 10px;
  margin: -10px;
}

.toggle-button.open .bar:nth-child(1) {
  transform: translateY(20px) rotate(45deg);
}

.toggle-button.open .bar:nth-child(2) {
  opacity: 0;
}

.toggle-button.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.createQuotesLabel {
  margin-top: 15px;
  font-size: 18px;
  color: white;
}

.createQuotesInputField {
  border: #6883bc 5px solid;
  border-radius: 5px;
  width: 65%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.addQuoteButton {
  margin-top: 15px;
  background-color: #6883bc;
  border: #6883bc solid 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.quoteWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quotesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quote {
  flex-basis: 50%;
  background-color: #79a7d3;
  border: solid 5px #6883bc;
  border-radius: 5px;
  margin-top: 30px;
}

.quotes {
  flex-basis: 30%;
  background-color: #79a7d3;
  border: solid 5px #6883bc;
  border-radius: 5px;
  margin-top: 30px;
}

.quoteText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70px;
  color: white;
  background-color: #6883bc;
}

.buttonWrapperQuote {
  background-color: #6883bc;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.quoteButton {
  color: white;
  background-color: #79a7d3;
  border: #79a7d3 solid 5px;
  border-radius: 5px;
  cursor: pointer;
}

.linkButton {
  color: white;
  background-color: #6883bc;
  border: #6883bc solid 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.linkText {
  color: white;
  text-decoration: none;
}

.addCommentWrapper {
  border: #6883bc solid 5px;
  border-radius: 5px;
  min-width: 220px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.commentWrapper {
  border: #6883bc solid 5px;
  border-radius: 5px;
  min-width: 220px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.commentsWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.commentDescription {
  font-size: 18px;
  color: white;
}

.commentsButtonWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.editCommentsInputFieldWrapper {
  display: flex;
  justify-content: space-around;
}

.editCommentsInputField {
  border: #6883bc 5px solid;
  border-radius: 5px;
  width: 65%;
}

.errorText {
  font-size: 14px;
  color: white;
}

.logButton {
  cursor: pointer;
}

.logInInputField {
  border: #6883bc 5px solid;
  border-radius: 5px;
  width: 20%;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    min-height: 70px;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    padding-top: 80px;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .containerWrapper {
    padding: 20px;
  }

  .quote {
    flex-basis: 100%;
  }

  .quotesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .logInInputField {
    border: #6883bc 5px solid;
    border-radius: 5px;
    width: 75%;
  }
}
